{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Header-->
  <header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
      <h1 class="mb-1">Добро пожаловать в StudyWithMe</h1>
      <h3 class="mb-5"><em>твой личный трекер по учебной продуктивности</em></h3>
      <a class="btn btn-primary btn-xl" href="#about">Подробнее...</a>
    </div>
  </header>

  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
      <div class="content-section-heading">
        <h2 class="mb-5">Преимущества</h2>
      </div>
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fa-solid fa-bullseye"></i>
          </span>
          <h4><strong>Планируй цели</strong></h4>
          <p class="text-faded mb-0">Ставь чёткие цели и двигайся к ним шаг за шагом.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4><strong>Веди заметки</strong></h4>
          <p class="text-faded mb-0">Фиксируй идеи, мысли и полезную информацию в одном месте.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4><strong>Получай достижения</strong></h4>
          <p class="text-faded mb-0">
            Отслеживай прогресс и радуйся
            <i class="fas fa-heart"></i>
            каждому успеху!
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fa-solid fa-note-sticky"></i>
          </span>
          <h4><strong>Следи за прогрессом</strong></h4>
          <p class="text-faded mb-0">Анализируй результаты и расти каждый день.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout-->
  <section class="callout">
    <div class="container px-4 px-lg-5 text-center">
      <h2 class="mx-auto mb-5">
        Welcome to
        <em>your</em>
        next website!
      </h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/">Download Now!</a>
    </div>
  </section>

  <!-- Portfolio-->
  <section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row gx-0">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Stationary</div>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'assets/img/portfolio-1.jpg' %}" alt="..." />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Ice Cream</div>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'assets/img/portfolio-2.jpg' %}" alt="..." />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Strawberries</div>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'assets/img/portfolio-3.jpg' %}" alt="..." />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Workspace</div>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'assets/img/portfolio-4.jpg' %}" alt="..." />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action-->
  <section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
      <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
    </div>
  </section>

{% endblock %}
